.button {
	background: #ffffff;
	border-radius: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 127%;
	width: 218px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: $mainColor;

	&:hover {
	}
}
