.preview-order {
	background: $mainColor;
	padding-top: 16px;
	padding-bottom: 16px;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__description {
		font-size: 27px;
		line-height: 126%;
		color: $lightColor;
	}

	&__button {
	}
}
