.promo {
	margin-top: 30px;
	background: url(../images/bg/promo-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-left: 70px;
	padding-bottom: 69px;

	@media (max-width: 1201px) {
		padding-left: 30px;
		background-size: cover;
	}
	@media (max-width: 768px) {
		padding-left: 15px;
	}

	@media (max-width: 577px) {
		padding-bottom: 29px;
	}
	@media (max-width: 380px) {
		background-position: left -113px bottom;
	}
	&__wrap {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__content {
		@media (max-width: 951px) {
			max-width: 75%;
		}
		@media (max-width: 577px) {
		}
		@media (max-width: 481px) {
			max-width: 100%;
		}
	}

	&__title {
		font-weight: 800;
		font-size: 80px;
		line-height: 92%;
		color: $lightColor;
		margin-bottom: 26px;

		margin-top: 76px;
		@media (max-width: 1201px) {
			margin-top: 35px;
			font-size: 76px;
		}
		@media (max-width: 1075px) {
			font-size: 60px;
		}
		@media (max-width: 768px) {
			margin-top: 30px;
			font-size: 48px;
		}

		@media (max-width: 650px) {
			font-size: 42px;
		}

		@media (max-width: 577px) {
			font-size: 30px;
			line-height: 107%;
			margin-bottom: 16px;
		}
	}

	&__subtitle {
		text-transform: uppercase;
		font-size: 19px;
		line-height: 126%;
		color: $lightColor;
		margin-bottom: 30px;
		@media (max-width: 768px) {
			font-size: 16px;
		}
		@media (max-width: 577px) {
			font-size: 14px;
			line-height: 129%;
			margin-bottom: 10px;
		}
	}

	&__description {
		font-size: 24px;
		line-height: 117%;
		color: $lightColor;
		margin-bottom: 9px;
		@media (max-width: 1201px) {
			max-width: 80%;
		}
		@media (max-width: 768px) {
			font-size: 18px;
			max-width: 95%;
		}
		@media (max-width: 577px) {
			font-size: 14px;
			line-height: 129%;
			max-width: 100%;
			margin-bottom: 5px;
		}
	}

	&__small-description {
		font-size: 14px;
		line-height: 129%;
		color: $lightColor;
		margin-bottom: 32px;

		@media (max-width: 577px) {
			font-size: 11px;
			line-height: 127%;
			margin-bottom: 16px;
		}
	}

	&__button {
	}

	&__discount {
		margin-top: 16px;
		margin-right: 16px;

		@media (max-width: 1201px) {
			margin-top: 5px;
			margin-right: 5px;
		}
		@media (max-width: 951px) {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		@media (max-width: 768px) {
			top: -8%;
			right: 0px;
			bottom: auto;
		}
		@media (max-width: 650px) {
			right: 25px;
			top: -25px;
		}
		@media (max-width: 577px) {
			right: 11px;
			top: -17px;
			width: 84px;
			height: 84px;
			margin-top: 0;
			margin-right: 0;
		}
		@media (max-width: 481px) {
			right: 28px;
			
		}
	}
}
.container {
}
.button {
}
