<section class="advantages">
	<div class="container-content">
		<h2 class="advantages__title title-h2">
			Нас выбирают за:
		</h2>
		<div class="advantages__content">
			<div class="advantages__item">
				<div class="advantages__wrap-img">
					<img src="assets/images/img/advantages-1.svg" alt="" class="advantages__item-img">
				</div>

				<p class="advantages__item-description">
					Персонального менеджера
				</p>
			</div>
			<div class="advantages__item">
				<div class="advantages__wrap-img">
					<img src="assets/images/img/advantages-2.svg" alt="" class="advantages__item-img">
				</div>

				<p class="advantages__item-description">
					Отгрузку «день в день»
				</p>
			</div>
			<div class="advantages__item">
				<div class="advantages__wrap-img">
					<img src="assets/images/img/advantages-3.svg" alt="" class="advantages__item-img">
				</div>

				<p class="advantages__item-description">
					Доставку за наш счет
				</p>
			</div>
			<div class="advantages__item">
				<div class="advantages__wrap-img">
					<img src="assets/images/img/advantages-4.svg" alt="" class="advantages__item-img">
				</div>

				<p class="advantages__item-description">
					Гибкую систему скидок
				</p>
			</div>
			<div class="advantages__item">
				<div class="advantages__wrap-img">
					<img src="assets/images/img/advantages-5.svg" alt="" class="advantages__item-img">
				</div>

				<p class="advantages__item-description">
					Отсрочку платежа уже со второго заказа
				</p>
			</div>
			<div class="advantages__item">
				<div class="advantages__wrap-img">
					<img src="assets/images/img/advantages-6.svg" alt="" class="advantages__item-img">
				</div>

				<p class="advantages__item-description">
					Сертификаты качества на всю продукцию
				</p>
			</div>
		</div>
	</div>
</section>