<section class="description">
	<div class="container-content">
		<h2 class="description__title title-h2">
			Надежный и качественный крепеж
		</h2>
		<div class="description__wrap-slider">
			<div class="description__content">
				<a href="#" class="description__item item-block">
					<p class="item-block__title">
						Оцинкованный крепеж
					</p>
					<img src="assets/images/img/description-1.jpg" alt="" class="description__item-img">
				</a>
				<a href="#" class="description__item item-block">
					<p class="item-block__title">
						Высокопрочный крепеж
					</p>
					<img src="assets/images/img/description-2.jpg" alt="" class="description__item-img">
				</a>
				<a href="#" class="description__item item-block">
					<p class="item-block__title">
						Нержавеющий крепеж
					</p>
					<img src="assets/images/img/description-3.jpg" alt="" class="description__item-img">
				</a>
			</div>
		</div>
	</div>

</section>