<section class="hits">
	<div class="container-content">
		<h2 class="hits__title title-h2">
			Хиты продаж
		</h2>
		<div class="hits__contnent">
			<ol class="hits__list">
				<li class="hits__item">
					<div class="hits__item-heading">
						<p class="hits__item-title">Болты</p>
						<a href="#" class="hits__button-all">Смотреть все</a>
					</div>
					<div class="hits__wrap-slider">
						<div class="hits__wrap-blocks">
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Болты ГОСТ 7798/ DIN 933 8,8 оцинкованные
								</p>
								<img src="assets/images/img/hits-1.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Болты ГОСТ 7798/ DIN 933 5,8 оцинкованные
								</p>
								<img src="assets/images/img/hits-2.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Болты ISO 4017/ DIN 933 нержавеющие
								</p>
								<img src="assets/images/img/hits-3.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Болты ISO 4017/ DIN 933 10,9 без покрытия
								</p>
								<img src="assets/images/img/hits-4.jpg" alt="" class="hits__item-img">
							</a>
						</div>
					</div>
				</li>
				<li class="hits__item">
					<div class="hits__item-heading">
						<p class="hits__item-title">Гайки</p>
						<a href="#" class="hits__button-all">Смотреть все</a>
					</div>
					<div class="hits__wrap-slider-1">
						<div class="hits__wrap-blocks">
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Гайки DIN 934/ГОСТ 5915 8,0 оцинкованные
								</p>
								<img src="assets/images/img/hits-1.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Гайки DIN 934 нержавеющие
								</p>
								<img src="assets/images/img/hits-2.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Гайки DIN 934/ГОСТ 5915 10,0 без покрытия
								</p>
								<img src="assets/images/img/hits-3.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Гайки DIN 934/ГОСТ 5915 6,0 оцинкованные
								</p>
								<img src="assets/images/img/hits-4.jpg" alt="" class="hits__item-img">
							</a>
						</div>
					</div>

				</li>
				<li class="hits__item">
					<div class="hits__item-heading">
						<p class="hits__item-title">Шайбы</p>
						<a href="#" class="hits__button-all">Смотреть все</a>
					</div>
					<div class="hits__wrap-slider-2">
						<div class="hits__wrap-blocks">
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Шайбы DIN 125 (ГОСТ 11371) цинк
								</p>
								<img src="assets/images/img/hits-1.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Шайбы DIN 127 (ГОСТ 6402) цинк
								</p>
								<img src="assets/images/img/hits-2.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Шайбы DIN 9021 цинк
								</p>
								<img src="assets/images/img/hits-3.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Шайбы DIN 125 (ГОСТ 11371) нержавеющие
								</p>
								<img src="assets/images/img/hits-4.jpg" alt="" class="hits__item-img">
							</a>
						</div>
					</div>

				</li>
				<li class="hits__item">
					<div class="hits__item-heading">
						<p class="hits__item-title">Винты</p>
						<a href="#" class="hits__button-all">Смотреть все</a>
					</div>
					<div class="hits__wrap-slider-3">
						<div class="hits__wrap-blocks">
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Винты DIN 912 8,8 оцинкованные
								</p>
								<img src="assets/images/img/hits-1.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Винты DIN 7991 8,8 оцинкованные
								</p>
								<img src="assets/images/img/hits-2.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Винты DIN 912 12,9 без покрытия
								</p>
								<img src="assets/images/img/hits-3.jpg" alt="" class="hits__item-img">
							</a>
							<a href="#" class="hits__item-block item-block">
								<p class="item-block__title">
									Винты DIN 965 4,8 DIN 965 4,8 оцинкованные
								</p>
								<img src="assets/images/img/hits-4.jpg" alt="" class="hits__item-img">
							</a>
						</div>
					</div>
				</li>
			</ol>
		</div>
	</div>
</section>