<section class="promo">
	<div class="promo__wrap">
		<div class="promo__content">
			<h1 class="promo__title">
				Крепеж для металлургической промышленности
			</h1>
			<p class="promo__subtitle">
				В наличии и под заказ
			</p>
			<p class="promo__description">
				Мы знаем, какой крепеж Вам нужен! Закроем Вашу заявку на 100%. Выставим счет через 14,5 минут!
			</p>
			<p class="promo__small-description">
				*среднее время выставления счета клиентам в 2023 году.
			</p>
			<a href="#" class="promo__button button button-order">
				Отправить заявку
			</a>
		</div>
		<div class="promo__discount">
			{{> discount}}
		</div>
	</div>
</section>